.formcontainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 5px;
    width: 50vw;
    margin: 30px auto;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    background: #6d7ca5;
    color: white;
}

.formheader {
    text-transform: uppercase;
    margin: 10px;
}

.button {
    background: #002486;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

